body {
    background: #dbdbdb;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

a {
    color: #6e6666;
}

a:hover {
    opacity: .8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 20px;
}

.photo {
    margin: 0 auto;
    margin-top: 45px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: url("https://raw.githubusercontent.com/aramayismirzoyan/aramayismirzoyan.github.io/main/img/avatar.jpeg");
    background-size: cover;
}

.title {
    color: #2e2c2c;
}

.about-info {
    font-weight: 600;
    color: #443f3f;
    margin-bottom: 40px;
}

.about-text {
    font-weight: 400;
    color: #443f3f;
    line-height: 1.5;
}

.pages {
    margin-top: 32px
}

.pages, .about {
    color: #2e2c2c;
}

.links ul {
    padding-left: 0;
}

.links ul li {
    list-style: none;
    margin-bottom: 8px;
}

.links ul li a {
    text-decoration: none;
    color: #443f3f;
    font-size: 18px;
    font-weight: 400;
}

.links ul li a:hover {
    text-decoration: underline;
}

.mail {
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

.portfolio {
    margin-top: 30px;
}

.portfolio-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.portfolio-items__item {
    margin-right: 15px;
}

.portfolio-items__item:last-child {
    margin-right: 0;
}

.portfolio-items__thumbnail {
    width: 250px;
    height: 250px;
    background-color: #000000;
}

.portfolio-tags {
    margin-top: 15px;
}

.portfolio-tags__tag {
    display: inline-block;
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #6e6666;
    color: #ffffff;
}

@media (max-width: 563px) {
    .portfolio-items {
        flex-direction: column;
    }

    .portfolio-items__item {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .photo {
        width: 150px;
        height: 150px;
        background-size: cover;
    }

    .about-text br {
        display: none;
    }
}
