body {
    background: #dbdbdb;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 80px;
}

.photo {
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: url("https://raw.githubusercontent.com/aramayismirzoyan/aramayismirzoyan.github.io/main/img/photo.jpg");
    background-position-y: -53px;
}

.title {
    color: #2e2c2c;
}

.about-info {
    font-weight: 600;
    color: #443f3f;
    margin-bottom: 40px;
}

.about-text {
    font-weight: 400;
    color: #443f3f;
    line-height: 1.5;
}

.pages {
    margin-top: 32px
}

.pages, .about {
    color: #2e2c2c;
}

.links ul {
    padding-left: 0;
}

.links ul li {
    list-style: none;
    margin-bottom: 8px;
}

.links ul li a {
    text-decoration: none;
    color: #443f3f;
    font-size: 18px;
    font-weight: 400;
}

.links ul li a:hover {
    text-decoration: underline;
}

.mail {
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

@media (max-width: 480px) {
    .photo {
        width: 150px;
        height: 150px;
        background-position-y: -35px;
        background-size: cover;
    }

    .about-text br {
        display: none;
    }
}