<div class="im_footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="im_footerdiv">
					<h2>Social Links</h2>
					
					<ul class="im_footer_sociallink">
						<li><a href="https://x.com/aramayis_m" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://github.com/aramayismirzoyan" target="_blank"><i class="fa fa-github"></i></a></li>
						<li><a href="https://medium.com/@aramayis_m" target="_blank"><i class="fa fa-medium"></i></a></li>
						<li><a href="https://www.linkedin.com/in/aramayis-mirzoyan/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="im_footerdiv">
					<h2>important link</h2>
					<ul class="im_footer_menu">
						<li><a href="/services">My services</a></li>
                    	<li><a href="/blog">Blog</a></li>
                    	<li><a href="/contacts">Contacts</a></li>
                    	<li><a href="/about">About me</a></li>
                    	<li><a href="/privacy-policy">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="im_footerdiv">
					<h2>Contacts</h2>
					<ul class="im_footer_contact">						
						<li><span><i class="fa fa-envelope"></i></span> <a href="mailto:aramayismirzoyan@yahoo.com">aramayismirzoyan@yahoo.com</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="im_copyright_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p>&copy; Copyrights 2026</p>
			</div>
		</div>
	</div>
</div>