<div class="im_header_wrapper">
	<div class="im_left_section"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="im_logo">
					<a href="/">
						<div class="main-logo flex-container">
							<div class="main-logo__svg">
								<svg width="80" height="80" viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
								 
								  <g transform="rotate(-10, 40, 40)">
								    <rect id="code-border" x="10" y="10" width="60" height="60" rx="10"
								          fill="#000000" stroke="#F69D01" stroke-width="3"/>

								   
								    <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle"
								          font-family="Courier New, monospace"
								          font-size="28" fill="#F69D01" letter-spacing="1">
								      &lt;/&gt;
								    </text>
								  </g>
								</svg>
							</div>
							<div>
								<span class="main-logo__name">Aramayis Mirzoyan</span>
								<span class="main-logo__role">Web Developer</span>
							</div>	
						</div>
					</a>				
					 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="im_menu">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                        	<li class="{% if page.page_name == 'services' %}active{% endif %}"><a href="/services">My services</a></li>
                        	<li class="{% if page.page_name == 'blog' %}active{% endif %}"><a href="/blog">Blog</a></li>
                        	<li class="{% if page.page_name == 'contacts' %}active{% endif %}"><a href="/contacts">Contacts</a></li>
                        	<li class="{% if page.page_name == 'about' %}active{% endif %}"><a href="/about">About me</a></li>
                        </ul>
					</div>
				</div>
			</div>
			<div id="top-search-wrap">
				<div class="container">
					<form class="form-inline">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-search"></i>
								</div>
								<input type="text" placeholder="Search.....">
							</div>
						</div>
						<i id="top-search-close">&times;</i>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>