html, body {
  margin: 0;
  height: 100%;
}

body{
  font-family: Roboto Slab;
  font-size:15px;
  line-height:22px;
  font-weight:400;
  color:#666666;
}

.home-page__bg {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.home-page__layer {
  position: absolute;
  inset: -5%;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  transform: scale(1.05);
  opacity: 1;
   background-image: url("../../images/main_slider_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hompage-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;  
}

.hompage-content__block {
  max-width: 60%;
}

.hompage-content__title {
  font-size: 80px;
  color: #ffffff;
  text-align: center;
}

.hompage-content__info {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

.hompage-content__description {
  line-height: 1.3;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
}

.hompage-content__menu-items {
  padding-left: 0;
  margin-top: 44px;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.hompage-content__menu-items li a {
  color: #ffffff;
  text-decoration: none;
}

.hompage-content__menu-items li a:hover {
  text-decoration: underline;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.64);
  pointer-events: none;
}

@media (max-width: 1274px) {
  .hompage-content__block {
      max-width: 80%
  }
}

@media (max-width: 935px) {
  .hompage-content__title {
      font-size: 50px;
  }

  .hompage-content__description {
    font-size: 15px;
  }
}

@media (max-width: 585px) {
  .hompage-content__title {
      font-size: 35px;
  }

  .hompage-content__info {
    font-size: 17px;
  }
}

@media (max-width: 409px) {
  .hompage-content__title {
        line-height: 1.1;
  }
}

@media (max-width: 610px) {
  .hompage-content__menu-items {
    margin-top: 27px;
    flex-direction: column;
    align-items: center;
  }

  .hompage-content__menu-items li {
    margin-bottom: 3px;
  }
}