<!--[if IE 8]> <html lang="ru" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="ru" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <meta name="description" content="{{ page.description | default: 'Aramayis Mirzoyan. Full-Stack developer' }}">
	  <meta name="keywords" content="{{ page.keywords | default: 'website, developer', 'php', 'html', 'css', 'javascript', 'laravel' }}">
	  <meta property="og:title" content="{{ page.title }}">
	  <meta property="og:description" content="{{ page.description }}">
	  <meta property="og:image" content="{{ page.image | absolute_url }}">
	  <meta property="og:url" content="{{ page.url | absolute_url }}">
	  <meta property="og:type" content="website">
	  <meta name="twitter:card" content="summary_large_image">
	  <link rel="canonical" href="{{ page.url | absolute_url }}">
		<meta name="author" content="Aramayis Mirzoyan">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <meta name="MobileOptimized" content="320">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
		<link rel="stylesheet" href="assets/css/bootstrap.css">
		<link rel="stylesheet" href="assets/css/font-awesome.css">
		<link rel="stylesheet" href="assets/css/fonts.css">
		<link rel="stylesheet" href="assets/js/plugins/owl/owl.carousel.css">
		<link rel="stylesheet" href="assets/js/plugins/c3/c3.css">
		<link rel="stylesheet" href="assets/js/plugins/slick/slick.css">
		<link rel="stylesheet" href="style.css">
</head>
<body>
 	{% include header.html %}

	<main>
	{{ content }}
	</main>

	{% include footer.html %}
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins/countto/jquery.appear.js"></script>
<script src="assets/js/plugins/countto/jquery.countTo.js"></script>
<script src="assets/js/plugins/owl/owl.carousel.js"></script>
<script src="assets/js/plugins/c3/d3.v3.min.js"></script>
<script src="assets/js/plugins/c3/c3.min.js"></script>
<script src="assets/js/plugins/sparkelslider/TweenLite.min.js"></script>
<script src="assets/js/plugins/sparkelslider/EasePack.min.js"></script>
<script src="assets/js/plugins/slick/slick.min.js"></script>
<script src="assets/js/custom.js"></script>
{% if page.custom_js %}
  <script src="{{ page.custom_js }}"></script>
{% endif %}
</body>
</html>